.navbar{  
    background-color: #1687a7;
    opacity: 0.75;
}
.nav-links{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: white;
    background-color:#1687a7;
    padding:7px;
    border-radius: 30px;
    font-size: 130%;
}
.nav-links:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
