.navbar{
    padding-top: 20px;
    height:50px;
    color: white;
    background-color: #2C3531;
}
.nav-links{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: black;
    background-color:#D9B08F;
    padding:7px;
    border-radius: 30px;
    text-decoration: none;
}
