.intro-text{
    text-align: center;
}
.myPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.myPic1{
    display: inline-block;
    margin: 10px;
    max-width: 900px;
    max-height: 450px;
}
