.carousAndText{
    position: relative;
}
.carous{
    margin-top: 61.2px;
}
.carousText{
    position: absolute;
    top: 50%;
    left: 27%;
    color: white;
    font-family:Helvetica;
    font-size: 4em;
}
.d-block{
    max-height: 700px;
}
.intro{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}
.myPic{
   height: 20%;
   width: 20%;
   float: left;
   display: inline-block;
}
.introText{
    position:absolute;
    text-align: center;
    top: 50%;
    display: inline-block;
    width: 80%;
    font-size: 2.3em;
}
.details{
    margin-bottom: 0px;
   }

.detailsText{
    margin-bottom: 0px;
}