.cardblock{
    display: inline-block;
    height: 250px;
    width: 400px;
    margin-left:50px;
    margin-top: 20px;
    border: black solid 1px;
    padding:10px
}
.cardblock:hover{
    transform: scale(1.05);
    transition: 1s;
    opacity: 0.9;
}

.imgofproj{
    max-width: 475px;
    max-height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.projname{
    text-align: center;
}