.cardblock{
    display: inline-block;
    height: 15.625rem;
    width: 25rem;
    margin-left:3.125rem;
    margin-top: 1.25rem;
    border: #f6f5f5 solid 1px;
}
.cardblock:hover{
    transform: scale(1.05);
    transition: 1s;
    opacity: 0.9;
    background-color: #f6f5f5;
}

.imgofproj{

    display: block;
    height: 100%;
    width: 100%;
}
.projTitle{
    text-align: center;
    color: #276678;
    font-family: Helvetica;
    font-size: 1.3rem;
}